@model CalculateAgeModel
@{
    ViewData["Title"] = "Age Calculator";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0"/>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validation.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 
</head>
<body>

    
    <div class="container">
        
        <form asp-action="Index" method="post">
            <div>
            <h2 class="mt-3 mb-4">@ViewBag.Title</h2>
            <div asp-validation-summary="All"></div>

                <div class="row">                    
                    <label asp-for="Name" class="col-md-3 col-form-label">Name:</label>
                    <div class="col-md-3">
                        <input asp-for="Name" />
                    </div>                    
                </div>

                <div class="row">
                    <label asp-for="Year" class="col-md-3 col-form-label">Enter year you were born:</label>
                    <div class="col-md-3">
                        <input asp-for="Year" />
                    </div>
                </div>
                
                <div class="row">
                    <label class="col-md-3 col-form-label">Your Age:</label>
                    <div class="col-md-3">
                        <input value="@ViewBag.BD" readonly/>
                     </div>
                </div>

                <div class="row">
                    <div class="col offset-md-3">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                        <a asp-action="Index" class="btn btn-secondary">Clear</a>
                    </div>
                </div>
            </div>
        </form> 
    </div>
</body>
</html>
